/*Nav Bar Styling*/

/* Image Styling */

.bodenZeeImg {
    margin-top: 70px;
}

/*Body Styling*/

body {
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8em;
}

h3 {
    line-height: 1.5;
}

h4 {
    padding-top: 0px;
}

/*Splash Page Element */

.frontPageH1 {
    padding-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 25px;
}

/*Splash Page Element */

.frontPageH2 {
    padding-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    padding-top: 10px;
    min-height: 10px;
}

.frontPageH3 {
    padding-left: 0px;
    margin-left:
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    padding-top: 20px;
    min-height: 10px;
    margin: 0px 80px 0px 80px;
    text-align: justify;

}

.aboutMeH3 {
    margin-top: 200px;
}

.frontPageH2hide {
    padding-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: transparent;
    padding-top: 20px;

}

.frontPageH2show {
    padding-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    padding-top: 20px;


}

#showMenu {
    text-align: center;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 1;

}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 0.9;



}

.dropdown-menu no-border {
    text-align: left;
    margin-right: 30px;
}

#navbarNavDropdown {
    text-align: right;
    margin-right: 0px;
}

a.dropdown-item {
    text-align: right;
    padding-right: 30px;
    margin-top: 1px;
    opacity: 0.8;

}

/*Footer Section */

footer {
    text-align: right;
    height: 50px;
    opacity: 0.6;
    margin-top: 100px;
}

.copyright {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    margin-right: 40px;
}

#navbarNavDropdown {
    overflow: visible;
}

/* Back to Top Styling */

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgb(198, 195, 199) url(/images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 50px;
        width: 50px;
        right: 20px;
        bottom: 20px;
    }
}

/* PDF Viewer CSS */

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

/*samples.html styling*/

.text-center {
    padding: 80px 120px;
}


div.c-wrapper{
    width: 97%;
    margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 50%; /* use this, or not */
margin: auto;
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.card-body {
    margin: 20px;
}

.container {
    padding-top: 20px;
}
